#card {
    border: 4px solid green;
    padding: 10px;
    border-radius: 15px;
}

#child {
    border: 2px solid rgb(12, 13, 12);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}